* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Viaoda Libre', cursive;
  background-color: #293241;
  color: #e0fbfc;
  margin: 0 auto;
}

.App {
  max-width: 36rem;
  margin: 0 auto;
  text-align: center;
}

button {
  border: none;
  background-color: #ee6c4d;
  color: #293241;
  padding: 10px 15px;
  display: inline-block;
  margin: 4rem auto;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

button:hover {
  background-color: #e0fbfc;
  color: #ee6c4d;
}

.quote {
  margin: 2rem 0;
}


